USE [master]
GO
/****** Object:  Database [DEVNUT]    Script Date: 20/10/2559 9:14:33 ******/
CREATE DATABASE [DEVNUT]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'DEVNUT', FILENAME = N'D:\Suparuksa\Database\DEVNUT.mdf' , SIZE = 5120KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'DEVNUT_log', FILENAME = N'D:\Suparuksa\Database\DEVNUT_log.ldf' , SIZE = 20096KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [DEVNUT].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [DEVNUT]
GO
/****** Object:  UserDefinedFunction [dbo].[ParGrpLev]    Script Date: 20/10/2559 9:14:33 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE FUNCTION [dbo].[ParGrpLev](@fgrc char(4), @lev int)
RETURNS char(4)
AS 
BEGIN
declare @ret char(4)
;WITH GRP_TREE AS (
   SELECT  FGRC,FGRP,FLEV,PCOD FROM NUTR_FACT_GRPS
   WHERE FGRC = @fgrc

   UNION ALL
   SELECT  C.FGRC, C.FGRP, C.FLEV, C.PCOD FROM NUTR_FACT_GRPS C
     JOIN GRP_TREE P ON P.PCOD = C.FGRC  
) 
SELECT @ret = FGRC
FROM GRP_TREE
WHERE FGRC <> @lev
AND FLEV = @lev
return @ret
END
GO
/****** Object:  Table [dbo].[NUTR_CTRL]    Script Date: 20/10/2559 9:14:34 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[NUTR_CTRL](
	[ID] [char](3) NOT NULL,
	[DES] [varchar](50) NULL,
	[RUNNO] [int] NULL,
 CONSTRAINT [PK_NUTR_CTRL] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[NUTR_DIAG]    Script Date: 20/10/2559 9:14:34 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[NUTR_DIAG](
	[CODE] [char](7) NOT NULL,
	[DES] [varchar](100) NULL,
	[TEXTS] [text] NULL,
	[DISEASE] [char](1) NULL,
	[STARTS] [varchar](3) NULL,
	[HIDESELECT] [char](1) NULL,
	[SECLEVEL] [char](1) NULL,
	[FULLDES] [varchar](108) NULL,
 CONSTRAINT [PK_NUTR_DIAG] PRIMARY KEY CLUSTERED 
(
	[CODE] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[NUTR_FACT]    Script Date: 20/10/2559 9:14:34 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[NUTR_FACT](
	[CODE] [char](8) NOT NULL,
	[FDES] [varchar](50) NULL,
	[NOTE] [varchar](250) NULL,
	[FGRC] [char](4) NOT NULL,
 CONSTRAINT [PK_NUTR_FACT] PRIMARY KEY NONCLUSTERED 
(
	[CODE] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[NUTR_FACT_BK0]    Script Date: 20/10/2559 9:14:34 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[NUTR_FACT_BK0](
	[CODE] [char](8) NOT NULL,
	[FDES] [varchar](50) NULL,
	[FTYP] [varchar](30) NULL,
	[NOTE] [varchar](250) NULL,
	[FGRP] [varchar](20) NULL,
	[FGRC] [char](2) NULL,
	[FTYC] [char](3) NULL,
	[PCOD] [varchar](8) NULL,
	[LEV] [smallint] NULL
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[NUTR_FACT_GRPS]    Script Date: 20/10/2559 9:14:34 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[NUTR_FACT_GRPS](
	[FGRC] [char](4) NOT NULL,
	[FGRP] [varchar](50) NULL,
	[FLEV] [int] NOT NULL,
	[NOTE] [varchar](100) NULL,
	[FPRP] [varchar](2) NULL,
	[PCOD] [char](4) NULL,
	[SLIPPRN] [char](1) NULL,
 CONSTRAINT [PK_NUTR_FACT_GRPS] PRIMARY KEY NONCLUSTERED 
(
	[FGRC] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[NUTR_FACT_GRPS0]    Script Date: 20/10/2559 9:14:34 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[NUTR_FACT_GRPS0](
	[FGRC] [char](4) NOT NULL,
	[FGRP] [varchar](30) NULL,
	[FLEV] [int] NOT NULL,
	[NOTE] [varchar](100) NULL,
	[FPRP] [varchar](2) NULL,
	[PCOD] [char](4) NULL
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[NUTR_FMNU]    Script Date: 20/10/2559 9:14:34 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[NUTR_FMNU](
	[MNUID] [char](10) NOT NULL,
	[MNUNAME] [varchar](30) NULL
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[NUTR_FMNU_ITMS]    Script Date: 20/10/2559 9:14:34 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[NUTR_FMNU_ITMS](
	[MNUID] [char](10) NOT NULL,
	[FDID] [char](10) NULL
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[NUTR_FOOD]    Script Date: 20/10/2559 9:14:34 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[NUTR_FOOD](
	[FDID] [char](10) NOT NULL,
	[FDNAME] [varchar](30) NULL,
	[FDTYPE] [char](8) NULL
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[NUTR_FOOD_REQD]    Script Date: 20/10/2559 9:14:34 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[NUTR_FOOD_REQD](
	[REQID] [char](5) NOT NULL,
	[REQCODE] [char](8) NOT NULL,
	[REQDESC] [varchar](50) NOT NULL,
 CONSTRAINT [PK_NUTR_FOOD_REQD] PRIMARY KEY NONCLUSTERED 
(
	[REQID] ASC,
	[REQCODE] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[NUTR_FOOD_REQS]    Script Date: 20/10/2559 9:14:34 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[NUTR_FOOD_REQS](
	[REQID] [char](5) NOT NULL,
	[HN] [char](7) NOT NULL,
	[AN] [char](7) NOT NULL,
	[DIAG] [char](7) NOT NULL,
	[WTS] [float] NULL,
	[HTS] [float] NULL,
	[PRINTED] [char](1) NULL,
	[REQDATE] [datetime] NULL,
	[PATTYPE] [char](8) NULL,
	[FOODPROP1] [char](8) NULL,
	[FOODPROP2] [char](8) NULL,
	[FOODRESTR] [char](8) NULL,
	[FOODREQDESC] [varchar](200) NULL,
	[NOTE] [varchar](50) NULL,
	[COMDIS] [char](1) NULL,
	[MEALORD] [int] NULL,
	[REQEND] [char](1) NULL,
	[REQENDDATE] [datetime] NULL,
	[DIAGNOTE] [varchar](100) NULL,
 CONSTRAINT [PK_NUTR_FOOD_REQS] PRIMARY KEY NONCLUSTERED 
(
	[REQID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[NUTR_FOOD_REQS0]    Script Date: 20/10/2559 9:14:34 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[NUTR_FOOD_REQS0](
	[REQID] [char](5) NOT NULL,
	[HN] [char](7) NOT NULL,
	[AN] [char](7) NOT NULL,
	[DIAG] [varchar](50) NULL,
	[FOODTYPE] [varchar](50) NULL,
	[REQFR] [datetime] NULL,
	[REQTO] [datetime] NULL,
	[MLFR] [char](10) NULL,
	[MLTO] [char](10) NULL,
	[AMOUNTAM] [smallint] NULL,
	[AMOUNTPM] [smallint] NULL,
	[WTS] [float] NULL,
	[HTS] [float] NULL,
	[PRINTED] [char](1) NULL,
	[SALTWT] [float] NULL,
	[FOODTYPC] [char](8) NULL,
	[FEED] [varchar](8) NULL,
	[REQDATE] [datetime] NULL,
	[PATTYPE] [char](8) NULL,
	[FOODPROP1] [char](8) NULL,
	[FOODPROP2] [char](8) NULL,
	[FOODRESTR] [char](8) NULL,
	[FOODREQDESC] [varchar](200) NULL,
	[FOODPROP3] [char](8) NULL,
	[NOTE] [varchar](50) NULL,
	[COMDIS] [char](1) NULL,
	[MEALORD] [int] NULL,
	[REQEND] [char](1) NULL
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[NUTR_LOG]    Script Date: 20/10/2559 9:14:34 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[NUTR_LOG](
	[ID] [char](10) NOT NULL,
	[FNAME] [varchar](30) NULL,
	[LNAME] [varchar](50) NULL,
	[ANAME] [varchar](100) NULL,
	[GENDER] [char](1) NULL,
	[EMAIL] [varchar](30) NULL,
	[LOGIN] [varchar](12) NULL,
	[PASSWORD] [varchar](30) NULL,
	[UNUSED] [char](1) NULL,
	[UTYPE] [char](1) NULL,
 CONSTRAINT [PK_NUTR_LOG] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[NUTR_MEAL]    Script Date: 20/10/2559 9:14:34 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[NUTR_MEAL](
	[MLID] [char](10) NOT NULL,
	[MLNAME] [varchar](30) NULL
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[NUTR_MEAL_ITMS]    Script Date: 20/10/2559 9:14:34 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[NUTR_MEAL_ITMS](
	[MLID] [char](10) NOT NULL,
	[MNUID] [char](10) NULL
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[NUTR_MISC]    Script Date: 20/10/2559 9:14:34 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[NUTR_MISC](
	[COD] [char](4) NOT NULL,
	[VAL] [varchar](100) NULL,
 CONSTRAINT [PK_NUTR_MISC] PRIMARY KEY CLUSTERED 
(
	[COD] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[NUTR_PADM]    Script Date: 20/10/2559 9:14:34 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[NUTR_PADM](
	[HN] [char](7) NOT NULL,
	[PID] [char](13) NULL,
	[TNAME] [varchar](20) NULL,
	[FNAME] [varchar](50) NULL,
	[LNAME] [varchar](50) NULL,
	[GENDER] [char](1) NULL,
	[BIRTH] [datetime] NULL,
	[AN] [char](7) NOT NULL,
	[WARDID] [char](3) NULL,
	[WARDNAME] [varchar](20) NULL,
	[ADMITDATE] [datetime] NULL,
	[DISCHDATE] [datetime] NULL,
	[ROOMNO] [char](5) NULL,
	[BEDNO] [char](10) NULL,
	[RELGCODE] [char](2) NULL,
	[RELGDESC] [varchar](30) NULL,
 CONSTRAINT [PK_NUTR_PADM] PRIMARY KEY CLUSTERED 
(
	[AN] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[NUTR_PATN]    Script Date: 20/10/2559 9:14:34 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[NUTR_PATN](
	[HN] [char](7) NOT NULL,
	[PID] [char](13) NULL,
	[TNAME] [varchar](20) NULL,
	[FNAME] [varchar](50) NULL,
	[LNAME] [varchar](50) NULL,
	[GENDER] [char](1) NULL,
	[BIRTH] [datetime] NULL
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[NUTR_PATN_ADMT]    Script Date: 20/10/2559 9:14:34 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[NUTR_PATN_ADMT](
	[HN] [char](7) NOT NULL,
	[AN] [char](7) NULL,
	[WARDID] [char](3) NULL,
	[WARDNAME] [varchar](20) NULL,
	[ADMITDATE] [datetime] NULL,
	[DISCHDATE] [datetime] NULL,
	[ROOMNO] [char](5) NULL,
	[BEDNO] [char](10) NULL
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[NUTR_SLOG]    Script Date: 20/10/2559 9:14:34 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[NUTR_SLOG](
	[LOGID] [bigint] IDENTITY(1,1) NOT NULL,
	[LOGDS] [varchar](50) NULL,
	[LOGTY] [varchar](10) NULL,
	[LOGDT] [datetime] NULL
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[NUTR_USER]    Script Date: 20/10/2559 9:14:34 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[NUTR_USER](
	[ID] [char](10) NOT NULL,
	[FNAME] [varchar](30) NULL,
	[LNAME] [varchar](50) NULL,
	[ANAME] [varchar](100) NULL,
	[GENDER] [char](1) NULL,
	[EMAIL] [varchar](30) NULL,
	[LOGIN] [varchar](12) NULL,
	[PASSWORD] [varchar](30) NULL,
	[UNUSED] [char](1) NULL,
	[UTYPE] [char](1) NULL
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  UserDefinedFunction [dbo].[FN_REPORT1]    Script Date: 20/10/2559 9:14:34 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE FUNCTION [dbo].[FN_REPORT1](@RQDATE DATETIME)
RETURNS TABLE
AS
RETURN
(
SELECT RQ.REQID, RQ.HN, RQ.MEALORD, RQ.FOODREQDESC,
       RQ.REQDATE, RQ.HTS, RQ.WTS,
       PA.TNAME, PA.FNAME, PA.LNAME,
       DATEDIFF(YYYY,PA.BIRTH,GETDATE()) AS AGE,
       PA.WARDID, PA.WARDNAME, PA.ROOMNO, PA.BEDNO,
       B.FGRC, B.FGRP,
       D.[DES] AS DIAGDESC
FROM NUTR_FOOD_REQS RQ 
LEFT JOIN NUTR_PADM PA ON PA.AN = RQ.AN 
LEFT JOIN (SELECT DISTINCT A.REQID, A.FGRC1 AS FGRC, G.FGRP 
           FROM (SELECT *,
                        dbo.ParGrpLev(F.FGRC,1) AS FGRC1,
                        dbo.ParGrpLev(F.FGRC,0) AS FGRC0 
                 FROM NUTR_FOOD_REQD R 
                 LEFT JOIN NUTR_FACT F ON F.CODE = R.REQCODE 
                 WHERE REQCODE <> 'freetext') A 
           LEFT JOIN NUTR_FACT_GRPS G ON G.FGRC = A.FGRC1 
           WHERE A.FGRC0= '0002') B ON B.REQID = RQ.REQID 
LEFT JOIN NUTR_DIAG D ON D.CODE = RQ.DIAG 
WHERE ISNULL(RQ.REQEND,'') = 'Y' 
AND ISNULL(RQ.FOODREQDESC,'') <> '' 
AND CONVERT(DATE,RQ.REQDATE) <= CONVERT(DATE,@RQDATE))
GO
/****** Object:  UserDefinedFunction [dbo].[FN_REPORT4]    Script Date: 20/10/2559 9:14:34 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE FUNCTION [dbo].[FN_REPORT4](@FRDATE DATETIME, @TODATE DATETIME)
RETURNS TABLE
AS
RETURN
(
--DECLARE @FRDATE DATETIME = '20160226'
--DECLARE @TODATE DATETIME = '20160226'
SELECT C.WARDID, C.WARDNAME, C.REQCODE, C.FDES,
      6*SUM(CASE WHEN DAYSCOUNT <=0 THEN 0 ELSE DAYSCOUNT END)+SUM(MEALS) AS MEALS
	  --SUM(CASE WHEN DAYSCOUNT <=0 THEN 0 ELSE MEALS END) AS MEALS
FROM
(
--DECLARE @FRDATE DATETIME = '20160226'
--DECLARE @TODATE DATETIME = '20160226'
SELECT *, DATEDIFF(DAY,REQFR,REQTO) AS DAYSCOUNT
FROM
(
--DECLARE @FRDATE DATETIME = '20160226'
--DECLARE @TODATE DATETIME = '20160226'
SELECT WARDID, WARDNAME, REQCODE, FDES, REQDATE, REQENDDATE, REQEND, 
       CASE WHEN CONVERT(DATE,@FRDATE) > CONVERT(DATE,REQDATE) THEN CONVERT(DATE,@FRDATE) ELSE CONVERT(DATE,REQDATE) END AS REQFR,
	   --CASE WHEN CONVERT(DATE,@TODATE) >= CONVERT(DATE,ISNULL(REQENDDATE,@TODATE)) THEN   CONVERT(DATE,@TODATE) ELSE CONVERT(DATE,ISNULL(REQENDDATE,@TODATE)) END AS REQTO,
       CASE WHEN CONVERT(DATE,@TODATE) >= CONVERT(DATE,ISNULL(REQENDDATE,@TODATE)) THEN CONVERT(DATE,ISNULL(REQENDDATE,@TODATE)) ELSE CONVERT(DATE,@TODATE) END AS REQTO,
       /*CASE WHEN ISNULL(REQEND,'')=''
	        THEN CASE WHEN CONVERT(DATE,REQDATE)>CONVERT(DATE,@TODATE)
			          THEN CONVERT(DATE,REQDATE) ELSE CONVERT(DATE,@TODATE) END
			ELSE CASE WHEN CONVERT(DATE,REQENDDATE)>CONVERT(DATE,@TODATE) 
			          THEN CONVERT(DATE,REQENDDATE) ELSE CONVERT(DATE,@TODATE) END END AS REQTO,*/
	   A.MEALS
FROM
(
SELECT R.AN, R.REQDATE, R.REQEND, R.REQENDDATE, R.REQID, 
       P.WARDID, P.WARDNAME, 
       D.REQCODE, F.FDES, 
	   6-ISNULL(R.MEALORD,1)+1 AS MEALS,
       MIN(R.REQDATE) AS REQFR, MAX(REQENDDATE) AS REQTO
FROM NUTR_FOOD_REQS R
JOIN NUTR_FOOD_REQD D ON D.REQID = R.REQID
JOIN NUTR_FACT F ON F.CODE = D.REQCODE
JOIN NUTR_PADM P ON P.AN = R.AN
WHERE F.FGRC = '0001' --AND P.WARDID = '261'
GROUP BY R.AN, R.REQDATE, R.REQEND, R.REQENDDATE, R.REQID, P.WARDID, P.WARDNAME, D.REQCODE, F.FDES, R.MEALORD) A) B
WHERE ((CONVERT(DATE,B.REQFR)=CONVERT(DATE,@FRDATE))AND(CONVERT(DATE,B.REQTO)=CONVERT(DATE,@TODATE))) ) C
GROUP BY C.WARDID, C.WARDNAME, C.REQCODE, C.FDES
)
GO
/****** Object:  View [dbo].[VW_DIAGHIST]    Script Date: 20/10/2559 9:14:34 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


CREATE view [dbo].[VW_DIAGHIST] 
as 
select D.Hn, D.VisitDate, D.DocCode, DC.docName+' '+DC.docLName as DocFullName, 
       D.ICDCode AS DIAGCODE, N.[DES] AS DIAGDESC,
       RTRIM(T.titleName)+RTRIM(P.firstName)+' '+RTRIM(P.lastName) AS PATNAME
from [DEVHC].dbo.PATDIAG D
join [DEVHC].dbo.DOCC DC on DC.docCode = D.DocCode
join [DEVHC].dbo.PATIENT P on P.hn = D.Hn
join [DEVHC].dbo.PTITLE T on T.titleCode = P.titleCode
join NUTR_DIAG N on N.CODE = D.ICDCode


GO
SET ANSI_PADDING ON

GO
/****** Object:  Index [IDX0_NUTR_FACT]    Script Date: 20/10/2559 9:14:34 ******/
CREATE UNIQUE CLUSTERED INDEX [IDX0_NUTR_FACT] ON [dbo].[NUTR_FACT]
(
	[CODE] ASC,
	[FGRC] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON

GO
/****** Object:  Index [IDX0_NUTR_FACT]    Script Date: 20/10/2559 9:14:34 ******/
CREATE UNIQUE CLUSTERED INDEX [IDX0_NUTR_FACT] ON [dbo].[NUTR_FACT_BK0]
(
	[CODE] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON

GO
/****** Object:  Index [IDX0_NUTR_FACT_GRPS]    Script Date: 20/10/2559 9:14:34 ******/
CREATE UNIQUE CLUSTERED INDEX [IDX0_NUTR_FACT_GRPS] ON [dbo].[NUTR_FACT_GRPS]
(
	[FGRC] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON

GO
/****** Object:  Index [IDX0_NUTR_FOOD_REQD]    Script Date: 20/10/2559 9:14:34 ******/
CREATE UNIQUE CLUSTERED INDEX [IDX0_NUTR_FOOD_REQD] ON [dbo].[NUTR_FOOD_REQD]
(
	[REQID] ASC,
	[REQCODE] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON

GO
/****** Object:  Index [IDX0_NUTR_FOOD_REQS]    Script Date: 20/10/2559 9:14:34 ******/
CREATE UNIQUE CLUSTERED INDEX [IDX0_NUTR_FOOD_REQS] ON [dbo].[NUTR_FOOD_REQS]
(
	[REQID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON

GO
/****** Object:  Index [IDX0_NUTR_PATN]    Script Date: 20/10/2559 9:14:34 ******/
CREATE UNIQUE CLUSTERED INDEX [IDX0_NUTR_PATN] ON [dbo].[NUTR_PATN]
(
	[HN] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON

GO
/****** Object:  Index [IDX0_NUTR_PATN_ADMT]    Script Date: 20/10/2559 9:14:34 ******/
CREATE UNIQUE CLUSTERED INDEX [IDX0_NUTR_PATN_ADMT] ON [dbo].[NUTR_PATN_ADMT]
(
	[HN] ASC,
	[AN] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON

GO
/****** Object:  Index [IDX1_NUTR_FOOD_REQS]    Script Date: 20/10/2559 9:14:34 ******/
CREATE NONCLUSTERED INDEX [IDX1_NUTR_FOOD_REQS] ON [dbo].[NUTR_FOOD_REQS]
(
	[HN] ASC,
	[AN] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON

GO
/****** Object:  Index [IDX0_NUTR_PADM]    Script Date: 20/10/2559 9:14:34 ******/
CREATE UNIQUE NONCLUSTERED INDEX [IDX0_NUTR_PADM] ON [dbo].[NUTR_PADM]
(
	[HN] ASC,
	[AN] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
ALTER TABLE [dbo].[NUTR_FACT_GRPS] ADD  DEFAULT ('N') FOR [SLIPPRN]
GO
ALTER TABLE [dbo].[NUTR_FACT]  WITH CHECK ADD  CONSTRAINT [FK_NUTR_FACT_NUTR_FACT_GRPS] FOREIGN KEY([FGRC])
REFERENCES [dbo].[NUTR_FACT_GRPS] ([FGRC])
GO
ALTER TABLE [dbo].[NUTR_FACT] CHECK CONSTRAINT [FK_NUTR_FACT_NUTR_FACT_GRPS]
GO
ALTER TABLE [dbo].[NUTR_FOOD_REQD]  WITH CHECK ADD  CONSTRAINT [FK_NUTR_FOOD_REQD_NUTR_FACT] FOREIGN KEY([REQCODE])
REFERENCES [dbo].[NUTR_FACT] ([CODE])
GO
ALTER TABLE [dbo].[NUTR_FOOD_REQD] CHECK CONSTRAINT [FK_NUTR_FOOD_REQD_NUTR_FACT]
GO
ALTER TABLE [dbo].[NUTR_FOOD_REQD]  WITH CHECK ADD  CONSTRAINT [FK_NUTR_FOOD_REQD_NUTR_FOOD_REQS] FOREIGN KEY([REQID])
REFERENCES [dbo].[NUTR_FOOD_REQS] ([REQID])
GO
ALTER TABLE [dbo].[NUTR_FOOD_REQD] CHECK CONSTRAINT [FK_NUTR_FOOD_REQD_NUTR_FOOD_REQS]
GO
ALTER TABLE [dbo].[NUTR_FOOD_REQS]  WITH CHECK ADD  CONSTRAINT [FK_NUTR_FOOD_REQS_NUTR_DIAG] FOREIGN KEY([DIAG])
REFERENCES [dbo].[NUTR_DIAG] ([CODE])
GO
ALTER TABLE [dbo].[NUTR_FOOD_REQS] CHECK CONSTRAINT [FK_NUTR_FOOD_REQS_NUTR_DIAG]
GO
ALTER TABLE [dbo].[NUTR_FOOD_REQS]  WITH CHECK ADD  CONSTRAINT [FK_NUTR_FOOD_REQS_NUTR_PADM] FOREIGN KEY([AN])
REFERENCES [dbo].[NUTR_PADM] ([AN])
GO
ALTER TABLE [dbo].[NUTR_FOOD_REQS] CHECK CONSTRAINT [FK_NUTR_FOOD_REQS_NUTR_PADM]
GO
USE [master]
GO
